body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background: linear-gradient(
    45deg,
    #074F57,
    #077187
    
  );
  min-height: 100vh
}

.col-3 a {
  color: #E4C5AF;
  text-decoration: none;
  font-weight: 500;
}

.col-9 a {
  color: #E4C5AF;
  font-weight: 500;
}


/* FAVOURITES PAGE */

.list-group .list-group-item{
  background: transparent;
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px;
}
 .list-group-item a {
  color: #E4C5AF;
 }

 .pippo {
  display:flex;
  justify-content: space-between;
 }

a.nav-link {
  color: #074F57;
  font-weight: 600;
  font-size: 1rem;
}


.image {
  border-radius: 25% 75%
}

